svg .game {

}
/*
Russian blue pattern:
#7be3f6
#4499a9
#276a76
#133b43
#03090a
*/
svg .game g {
  fill: transparent;
  fill-opacity: 0.4;
}

svg .game g.hexagon-group g.hexagon {
  fill: inherit;
  fill-opacity: inherit;
}

svg .game g.hexagon-group:hover {
  fill-opacity: 0.75;
}

svg .game g polygon {
  stroke: rgba(167,191,224, 0.5);
  stroke-width: 0.5;
  transition: fill-opacity .25s;
}

svg .game g text {
  font-size: 0.15em;
  fill: black;
  fill-opacity: 0;
  transition: fill-opacity .5s;
}

