
svg .tileIcon g {
  fill: none
}
svg .tileIcon g:hover {
  fill-opacity: 0.2;
}
svg .tileIcon g:hover text {
  fill-opacity: 1;
}

svg .tileIcon g polygon {
  stroke: none;
}
svg .tileIcon g text {
  font-size: 0.22em;
  fill: black;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}
/* svg .tile path {
  fill: none;
  stroke: #7be3f6;
  stroke-width: 0.2em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
} */
